# System
pyinstaller
openai
cohere
anthropic
tiktoken
numpy
openpyxl
PyQt5
PyQt-Fluent-Widgets[full]
opencc
google-genai
ebooklib
beautifulsoup4
pandas
chardet
PyYAML
httpx[http2]

# Tools
rich
tqdm
jaconv
python-rapidjson